.homeCont {
  background-image: url("./backgroundDucks.jpg");
  background-size: cover;
  height: 92vh;
  padding: 3rem;
  display: grid;
  align-items: center;

  header {
    padding: 0.5rem;
    background-color: rgb(0, 40, 40);
    border-radius: 5px;
    color: white;

    > * {
      display: grid;
      justify-content: center;
    }

    h1 {
      font-size: 3rem;
    }
  }
}
