nav {
  background: rgb(0, 40, 40);
  display: flex;
  justify-content: space-between;
  height: 5vh;

  img {
    height: 50px;
    aspect-ratio: 1;
  }

  > div {
    display: grid;

    a {
      color: white;
      width: 100px;
      display: grid;
      align-items: center;
      justify-content: center;
    }
  }

  .navLinks {
    grid-template-columns: 1fr 1fr;

    div {
      display: grid;
    }
  }

  a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
